ipykernel==7.1.0
matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
seaborn==0.13.2
scikit-learn==1.6.1
statsmodels==0.14.6
imbalanced-learn==0.12.3
scipy==1.16.3
joblib==1.5.3
shap==0.50.0
umap-learn==0.5.9.post2
openpyxl==3.1.5